<nav class="bg-white border-b-2 border-amber-400 dark:bg-gray-900 p-4 shadow-md transition-shadow duration-300">
  <div class="container mx-auto flex justify-between flex-wrap items-center">
    <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse flex-grow">
      <span class="self-center text-xl font-bold whitespace-nowrap text-amber-700 dark:text-amber-500">SmartQuiz</span>
    </a>
    <dark-mode-toggle class="md:order-1 md:pl-4" />
    <button (click)="toggle()" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-1 w-7 h-7 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 mx-2" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div class="{{isOpen ? 'block' : 'hidden'}} w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-semibold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a (click)="handleNavigationClick()" routerLink="/home" routerLinkActive="text-amber-600 dark:text-amber-600" class="block py-2 px-3 text-gray-900 rounded md:bg-transparent hover:text-amber-600 dark:hover:text-amber-500 md:p-0 dark:text-white">Home</a>
        </li>
        <li>
          <a (click)="handleNavigationClick()" routerLink="/my-quizzes" routerLinkActive="text-amber-600 dark:text-amber-600" class="block py-2 px-3 text-gray-900 rounded md:bg-transparent hover:text-amber-600 dark:hover:text-amber-500 md:p-0 dark:text-white">My Quizzes</a>
        </li>
        @if(! this.authService.isUserAuthenticated()) {
          <li>
            <a (click)="handleNavigationClick()" routerLink="/login" routerLinkActive="text-amber-600 dark:text-amber-600" class="block py-2 px-3 text-gray-900 rounded md:bg-transparent hover:text-amber-600 dark:hover:text-amber-500 md:p-0 dark:text-white">Login</a>
          </li>
          <li>
            <a (click)="handleNavigationClick()" routerLink="/signup" routerLinkActive="text-amber-600 dark:text-amber-600" class="block py-2 px-3 text-gray-900 rounded md:bg-transparent hover:text-amber-600 dark:hover:text-amber-500 md:p-0 dark:text-white">Sign up</a>
          </li>
        } @else {
          <li>
            <a (click)="handleNavigationClick()" routerLink="/logout" routerLinkActive="text-amber-600 dark:text-amber-600" class="block py-2 px-3 text-gray-900 rounded md:bg-transparent hover:text-amber-600 dark:hover:text-amber-500 md:p-0 dark:text-white">Welcome, {{this.authService.user()}} (log out)</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
