<section class="m-4 dark:text-white">
  <!-- Titolo e descrizione -->
  <div class="flex justify-center mt-10">
    <figure class="max-w-full sm:max-w-screen-md w-full px-4">
      <div class="flex items-center mb-4">
        <h3 class="text-2xl sm:text-3xl font-bold text-gray-900 dark:text-white">{{ quiz.title }}</h3>
      </div>
      <blockquote>
        <markdown 
          [data]="quiz.description" 
          class="markdown-description text-lg sm:text-2xl font-semibold text-gray-900 dark:text-white break-words"
        ></markdown>
      </blockquote>
    </figure>
  </div>

  <!-- Numero massimo di errori permessi -->
  <div class="flex justify-center mt-4">
    <p class="text-base sm:text-lg font-medium text-gray-800 dark:text-gray-300">
      Numero massimo di errori permessi: <span class="font-bold">{{ quiz.maxErrors }}</span>
    </p>
  </div>

  <!-- Sezione QR Code e link condivisibile -->
  <div *ngIf="qrCodeUrl" class="flex flex-col items-center mb-6">
    <h2 class="text-lg font-bold text-center mb-2">QR Code for this Quiz</h2>
    
    <img [src]="qrCodeUrl" alt="QR Code" class="mb-2 rounded-md shadow-md max-w-[200px]" />

    <label for="shareable-link" class="sr-only">Shareable Link</label>
    <input 
      id="shareable-link" 
      type="text" 
      class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-xs p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" 
      [value]="shareableLink" 
      readonly
    />

    <button 
      (click)="copyToClipboard()" 
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full max-w-xs py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-2 inline-flex items-center justify-center"
    >
      <span id="default-message">Copy</span>
      <span id="success-message" class="hidden inline-flex items-center">
        <svg class="w-3 h-3 text-white me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
        </svg>
        Copied!
      </span>
    </button>
  </div>

  <!-- Input per il nome dell'utente -->
  <input 
    *ngIf="questions.length > 0" 
    type="text" 
    id="user-name" 
    [(ngModel)]="userName"
    placeholder="Inserisci il tuo nome (facoltativo)" 
    class="w-full p-2 mb-4 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
  />

  <!-- Messaggio di invito -->
  <div *ngIf="questions.length > 0" class="text-center mb-4">
    <p class="text-gray-500 dark:text-gray-400">Rispondi alle seguenti domande:</p>
  </div>

  <!-- Elenco delle domande -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-4">
    <!-- Itera sulle domande -->
    <div *ngFor="let question of questions; let i = index" class="w-full">
      <div class="question p-4 border border-gray-200 rounded-md dark:border-gray-600 bg-gray-50 dark:bg-gray-800 shadow-sm h-full flex flex-col justify-between">
        <!-- Testo della domanda -->
        <h4 class="text-lg font-semibold mb-2 dark:text-white">{{ question.questionText }}</h4>
        
        <!-- Controllo per tipo di domanda -->
        <div *ngIf="question.type === 'open'">
          <!-- Domanda a risposta aperta -->
          <input 
            type="text" 
            [(ngModel)]="userAnswers[i]" 
            placeholder="Inserisci la tua risposta" 
            class="w-full p-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
          />
        </div>

        <div *ngIf="question.type === 'multiple'">
          <!-- Domanda a risposta multipla -->
          <div *ngFor="let option of question.options; let j = index" class="mb-2">
            <label class="flex items-center space-x-2">
              <input 
                type="radio" 
                name="question{{i}}"  
                [(ngModel)]="userAnswers[i]" 
                [value]="option"  
                class="text-teal-500 focus:ring-teal-500 dark:text-teal-400 dark:focus:ring-teal-600" 
              />
              <span class="dark:text-white">{{ option }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Messaggio di default se non ci sono domande -->
    <div *ngIf="questions.length === 0" class="flex items-center justify-center w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600 col-span-3">
      <div class="flex flex-col items-center">
        <p class="text-gray-500 dark:text-gray-400">Nessuna domanda disponibile</p>
      </div>
    </div>
  </div>

  <!-- Bottone per inviare le risposte -->
  <button 
    *ngIf="questions.length > 0" 
    (click)="trySubmitQuiz()" 
    class="w-full p-2 text-white bg-amber-700 hover:bg-amber-800 rounded-lg font-medium mt-4"
  >
    Invia le risposte
  </button>

  <!-- Messaggio di errore che appare solo dopo il tentativo di invio -->
  <div *ngIf="showError" class="text-red-500 text-center mt-2">
    <p>Assicurati di rispondere a tutte le domande prima di inviare!</p>
  </div>
</section>
